<%= form_with model: @group, class:"input-form"  do |f|%>
 <nav class="header">
  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li>
    <a href="/"><i class="fa fa-arrow-left"></i></a>
    </li>
    <li>
      <h2 class="heading fw-bold">Add Category</h2>
    </li>
    <li>
    <%= f.submit "Create Category", class:"btn btn-primary form-control" %> 
    </li>
  </ul>
  </nav>

  <div class="m-5 mb-3">
    <%= f.text_field :name,  required: true,  class:"p-2 form-control", placeholder: "Name", id:'name'%><br>
  </div>
  <div class="m-5 mb-3">
    <%= f.select :icon, options_for_select([
      ['Grocery', @icons[0]],
      ['Shopping' ,@icons[1]],
      ['Education' ,@icons[2]],
      ['Bills' ,@icons[3]],
      ['Insurance' ,@icons[4]],
      ['Travel' ,@icons[5]],
    ]),{ include_blank: "Select Icon"}, required: true , class:"form-select"%>

  </div>  
<%end%>