<div class = "position-relative">
  <h1 class = "text-center m-5 text-muted">Every Penny</h1>
  <div class="sign-btn-wrapper text-center d-flex flex-column">
    <button class = 'btn btn-primary m-1'>
      <%= link_to "LOG IN", new_user_session_path, id: "loginBtn" , class:"btn btn-primary" %>
    </button>
    <button class = 'btn btn-primary m-1'>
      <%= link_to "SIGN UP", new_user_registration_path, id: "signupBtn", class:"btn btn-primary" %>
    </button>
  </div>
</div>
