<%if notice%>
<div class="alert alert-success alert-dismissible fade show" role="alert">
<strong><%= notice %></strong>
<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<%end%>
<%if alert%>
<div class="alert alert-warning alert-dismissible fade show" role="alert">
<strong> <%= alert %> </strong>
<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<%end%>